*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: CaviarDreams;
    src: url(/font/CaviarDreams.ttf);
}
@font-face {
    font-family: CaviarDreams_Bold;
    src: url(/font/CaviarDreams_Bold.ttf);
}
@font-face {
    font-family: CaviarDreams_Italic;
    src: url(/font/CaviarDreams_Italic.ttf);
}
/*AQUÍ COMIENZAN LOS ESTILOS DE CARGA*/
#contenedor_carga{
    background-color: rgba(250, 245, 245, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: red;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
}
@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*Aca comienzan mis estilos*/
.icono-menu{
    margin: 20px 30px;
    position: fixed;
    z-index: 101;
}
.icono-menu img{
    vertical-align: top;
    width: 60px;
    cursor: pointer;
}

/*Estilos para el contenedor del menú */
.cont-menu{
    background-color: rgb(72, 52, 101);
    box-shadow: 2px 0px 5px 2px rgb(251, 186, 96);
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 100;
}

/*Estilos para agregar a JS*/
.active{
    transform: translate(-600px);
}

/* .opacity{
    background-color: el color debe ser negro;
    transition:  all .5s ease;
} */

/*Estilos para el listado del menú*/
.cont-menu ul{ 
    text-decoration: none;
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    border-bottom: 1px solid #FBBA60;
}

.cont-menu ul li:hover{
    background-color: rgb(251, 186, 96);
    color: rgb(0, 0, 0);
}


.logo{
    height: 25em;
    margin-top: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.informacion{
    font-family: CaviarDreams_Italic;
    text-shadow: 3px 1px 1px black;
    height: 25em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.boton-principal {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boton-principal a{
        position: relative;
        text-transform: uppercase;
        background: #483465;
        border: 3px solid #f29100;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        display: inline-block;
        padding: 10px 35px;
        margin: 7px;
        font-size: 30px;
        border-radius: 10px;
        transition: all .3s ease;
}
.boton-enlace{
    margin-left: 600px;
}
/*Iconos de la pantalla de inicio*/
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0dfe53;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.3);
    z-index: 1;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0dfe53;
    background: #fff;

}

/*AQUÍ COMIENZA LA PARTE DE NOSOTROS */
.info-nosotros{
    
    text-align: center;
	width:260px;
	margin: 0px auto 20px;
}
.info-nosotros h1 {
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
    border-radius: 10px;
    font-size: 30px;
	padding: 10px 50px;
	margin: auto;
    margin-top: 60px;
}
.info-no{
    width: 50%;
    margin-left: 310px;
    text-align: justify;
    background-color: rgb(72, 52, 101);
    border: 3px solid #FBBA60;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
}
@media(max-width:400px){
    .info-no{
        margin-left: 40px;
        width: 80%;
    }
}
.video{
    width: 50%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: ;
}
.video::after{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}
.esdacode_video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*Misión, Visión, Objetivos*/
.contenedor{
    margin: auto;
    width: 100%;
}
.caja__columna{
    color: #fff;
    background: rgb(72, 52, 101);
    position: relative;
    text-align: center;
    width: 98%;
    height: 440px;
    margin: 10px;
    border-radius: 10px;
}
.caja__columna .texto{
    font-family: CaviarDreams;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid rgb(251, 186, 96);
    padding: 30px;
    border-radius: 10px;
}

.caja__columna .texto h2{

    font-size: 40px;
    margin: 0 0 10px;
}
.caja__columna .texto p{
    font-size: 18px;
}
svg,rect{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
    border-radius: 10px;
}
rect{
    stroke: rgb(251, 186, 96);
    stroke-width: 4;
    stroke-dasharray: 400;
    animation: animate 4s linear infinite;
}
.caja .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes animate
{
    0%{
        stroke-dashoffset: 800;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@media(min-width:36px){
    .caja__columna{
        width: 80%;
        height: 400px;
    }
}
@media(min-width:400px){
    .caja__columna{
        width: 82%;
        height: 400px;
    }
}

@media(min-width:520px){
    .caja__columna{
        width: 85%;
        height: 320px;
    }
}

@media(min-width:600px){
    .caja__columna{
        width: 82%;
        height: 270px;
    }
}
@media(min-width:680px){
    .caja__columna{
        width: 46%;
        height: 460px;
    }
}
@media(min-width:780px){
    .caja__columna{
        width: 47%;
        height: 350px;
    }
}
@media(min-width:1024px){
    .contenedor{
        width: 1024px;
    }
    .caja__columna{
        width: 31%;
        height: 480px;
    }
}
@media(min-width:1200px){
    .contenedor{
        width: 1200px;
    }
    .caja__columna{
        height: 430px;
    }
}
.equipo{
    text-align: center;
	width: 400px;
	margin: 30px auto 1px;
}
.equipo h1 {
	font-size: 30px;
	border-radius: 10px;
	padding: 10px 60px;
	margin: auto;
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
}
@media(max-width:400px){
    .equipo{
        width: 100%;
    }
}
/*Aquí van los card de nosotros*/
.grid{
    margin: 80px;
    margin-right: 10px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}
.grid > article{
    background-color: orange;
    border: none;
    box-shadow: 2px 2px 6px 0px rgb(72, 52, 101);
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}
.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgb(72, 52, 101);
}
.grid > article img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text{
    font-family: CaviarDreams;
    padding: 0 20px 20px;
}
.text h3{
    margin-top: 10px;
    border: 6px 6px 6px 6px;
}
.text button{
    background: rgb(72, 52, 101);
    border-radius: 10px;
    border: none;
    color: seashell;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid > article{
        text-align: center;
    }
}
@media (max-width: 380px){
    .grid{
        margin-left: 50px;

        grid-template-columns: repeat(1, 1fr);
    }
    .grid > article{
        text-align: center;
    }
}

/*Estilos del FOOTER*/
footer{
    background-color: rgb(72, 52, 101);
    height: auto;
    width: 100vw;
    font-family: CaviarDreams;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin: auto;
}
.footer-content p{
    max-width: 500px;
    margin: auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(251, 186, 96);
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-right: 1rem;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/*AQUÍ COMIENZA LA PARTE DE NOVEDADES*/

.info-novedades{
    
    text-align: center;
	width:260px;
	margin: 0px auto 20px;
}
.info-novedades h1 {
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
    border-radius: 10px;
    font-size: 30px;
	padding: 10px 45px;
	margin: auto;
    margin-top: 60px;
}
.novedades p {
    background-color: rgba(255,255,255,0.70);
    border-radius: 10px;
    color: rgb(72, 52, 101);
    margin: auto;
}

.contain{
  margin: auto;
  background-color:rgba(255,255,255,0.70);
	border-radius: 10px;
  padding: 30px 30px 0px;
	z-index: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.slider{
	position: relative;
	width: auto;
	height: 400px;
	margin: auto;
	z-index: 1;
}

ul.slider li{
	position: absolute;
	height: inherit;
	width: inherit;
	opacity: 0;
	transition: opacity .5s;
	z-index: 1;
}
	
ul.slider li img{
	width: 100%;
	height: 400px;
	object-fit: cover;	
} 

ul.slider li:first-child{
	opacity: 1;
}

ul.slider li:target{
	opacity: 1;
}

.circul {
	display: inline-block;
	position: relative;
}
.circul img {
	transition:all 0.1s;
}
.circul img:hover {
	filter:drop-shadow(1); 
	transform:scale(1.59,1.59);
}
.men {
	width: 90px;
	margin: 5px auto;
}

.barrita {
	margin: auto;
	width: 1200px;
	padding-top: 5px;
}

.barrita img{	
	width: inherit;
	height: 2px;
	object-fit: cover;
	
}
.imag{
	margin: auto;
}

.imag img{
	margin: 10px 0px;
}

.espace{
	margin: 10px 0 20px;
}

.centrar {
	background-color: rgba(255,255,255,0.70);
	border-radius: 10px;
	margin: 0 auto;
}

.centrar2{
	background-color:rgba(255,255,255,0.70);
	border-radius: 10px;
	margin: auto;
}

/*AQUÍ COMIENZA LA PARTE DE PRODUCTOS*/
.info-productos{
    
    text-align: center;
	width:260px;
	margin: 0px auto 20px;
}
.info-productos h1 {
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
    border-radius: 10px;
    font-size: 30px;
	padding: 10px 40px;
	margin: auto;
    margin-top: 60px;
}


/*AQUÍ COMIENZA LA PARTE DE OBSEQUIOS*/
body {
    background: url(../images/park.png);
}
header{
    width: 100%;
    height: 300px;
    background: url(../images/logoheader.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
@media (max-width: 400px){
    .header{
        width: 100%;
    }
}
.container3{
    padding: 50px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.proyectovideo{
    width: 100%;
    height: 500px;
    border-radius: 32px;
    border:10px solid rgb(72, 52, 101);
}
.info-obsequios{
    
    text-align: center;
	width:260px;
	margin: 0px auto 20px;
}
.info-obsequios h1 {
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
    border-radius: 10px;
    font-size: 30px;
	padding: 10px 40px;
	margin: auto;
    margin-top: 60px;
}
.info-obsequios1{
    
    text-align: center;
	width:500px;
	margin: 0px auto 20px;
}
.info-obsequios1 h1 {
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
    border-radius: 10px;
    font-size: 30px;
	padding: 10px 40px;
	margin: auto;
    margin-top: 60px;
}
@media(max-width:400px){
    .info-obsequios1{
        width: 100%;
    }
}
.colores{
    background-color: rgb(72, 52, 101);
    border-radius: 20px;
}
.center{
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.informaciónobsequios{
    background-color: rgb(72, 52, 101);
    color: white;
}


ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 500px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 500px;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: #FBBA60;
  text-decoration: none;
  background-color: rgb(72, 52, 101);
  padding: 15px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 100px;
}
/*AQUÍ COMIENZA LA PARTE DE CONTACTO*/

.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.con-titulo{
    text-align: center;
    font-size: 3em;
}
.con-titulo span{
    color:rgb(72, 52, 101);
}
.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.contact-wrapper > * {
    padding: 1em;
}
.contact-form{
    background: rgb(251, 186, 96);
}
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .bloquear{
    grid-column: 1 / 3;
}
.contact-form form p {
    margin: 0;
    padding: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(72, 52, 101);
    outline: 0;
    color: white;
}
.contact-form form button {
    background: rgba(250, 245, 245, 0.5);
    border: 0;
    color: black;
    text-transform: uppercase;
    padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus {
    background: rgb(72, 52, 101);
    color: white;
    transition: background-color 0.5s ease-out;
    outline: 0;
}
.contact-info{
    background: rgb(72, 52, 101);
}
.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: white;
}

.contact-info ul li {
    padding: .3em;
}

@media (min-width: 700px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }
}
/*REDES SOCIALES DEL CONTACTO*/
.info-contact{
    text-align: center;
	width:300px;
	margin: 0px auto 20px;
}
.info-contact h1 {
    text-align: center;
    color: white;
    background-color: rgb(72, 52, 101);
    border:3px solid #FBBA60;
    border-radius: 10px;
    font-size: 30px;
	padding: 10px 36px;
	margin: auto;
    margin-top: 60px;
}
.info-redes{
    
    text-align: center;
	width:320px;
	margin: 0px auto 20px;
    margin-top: 20px;
}
.info-redes h1 {
	font-size: 30px;
	color: rgb(72, 52, 101);
	background-color: rgba(255,255,255,0.70);
	border-radius: 10px;
	padding: 10px 60px;
	margin: auto;
}
.social-container{
    width: 100%;
    margin: auto;
    text-align:center
}
.social-icons{
    width: 100%;
    padding:0;
    list-style:none;
}
.social-icons li{
    display:inline-block;
    margin:.15em;
    position:relative;
    font-size:1.2em
}
.social-icons i{
    color:#fff;
    position:absolute;
    top:21px;
    left:20px;
    transition:all 265ms ease-out
}
.social-icons a{
    display:inline-block
}
.social-icons a:before{
    transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    content:" ";
    width:60px;
    height:60px;
    border-radius:100%;
    display:block;
    background:linear-gradient(45deg, #483465,#FBBA60);
    transition:all 265ms ease-out
}
/*#FBBA60 #002A8F*/
.social-icons a:hover:before{
    transform:scale(0);
    transition:all 265ms ease-in
}
.social-icons a:hover i{
    transform:scale(2.2);
    -ms-transform:scale(2.2);
    -webkit-transform:scale(2.2);
    color:#00B5F5;
    background:-webkit-linear-gradient(45deg,#FBBA60,#483465);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transition:all 265ms ease-in
}